body {
   background:#ffffff
}

#bannerpensamento {
   width: 100%;
}


.principal {
   background:#cccccc 
} 

 .tituloprincipal{
    padding-left: 20px;
  }

 .titulo-centralizado {

 }

p {
   text-align: center;
}

em b {
   color: #4c00ff; 
}

.pilarespensamento{
    background:#ffffff;
}
 .pilares {
    font-style: italic;
 }

 ul{
    display: inline-block;
 }

 .imagempilares{
    width: 50%;
 }

 .importancia {
    background: #cccccc;
 }

